<div appBlockCopyPaste class="main main-2 main-center bg-blue">
    <div class="container">
        <div class="col-md-12">
            <div class="branding">
                <a>
                    <img src="{{logo}}" alt="company logo">
                </a>
            </div>
            <div class="content">
                <div class="start-logo">
                    <img src="/assets/images/speaking-start.svg" alt="">
                </div>
                <div class="title mb-4">{{'TOEIC.title' | translate}}</div>
                <div class="sub-title sub-multiple-line text-left" style="max-width: 570px;">
                    <div class="text-center">{{'TOEIC.desc1' | translate}} <br> {{'TOEIC.desc2' | translate}} <br> {{'TOEIC.desc3' | translate}} <br> {{'TOEIC.desc4' | translate}}</div>
                    <div class="d-flex justify-content-center mt-3">
                        <div class="test-item">
                            <img style="width: 100px;" src="/assets/images/listen-icon.svg" alt="">
                            <div class="item-title">{{'TOEIC.listeningTest' | translate}}</div>
                            <div class="item-time">(54 {{'APP.minutes' | translate}})</div>
                        </div>
                        <div class="test-item">
                            <img style="width: 100px;" src="/assets/images/reading-icon.svg" alt="">
                            <div class="item-title">{{'TOEIC.readingTest' | translate}}</div>
                            <div class="item-time">(75 {{'APP.minutes' | translate}})</div>
                        </div>
                    </div>
                    <ul class="pl-3 mt-3">
                        <li><span class="font-weight-bold">1.</span> {{'TOEIC.instruction1-1' | translate}} "<span class="font-weight-bold">{{'APP.next' | translate}}</span>" {{'TOEIC.instruction1-2' | translate}}</li>
                        <li><span class="font-weight-bold">2.</span> {{'TOEIC.instruction2-1' | translate}} <span class="font-weight-bold"> {{'APP.answerSheet' | translate}} </span> {{'TOEIC.instruction2-2' | translate}} <br> {{'TOEIC.instruction2-3' | translate}}</li>
                        <li><span class="font-weight-bold">3.</span> {{'TOEIC.instruction3-1' | translate}} <span class="font-weight-bold">{{'TOEIC.instruction3-2' | translate}}</span> {{'TOEIC.instruction3-3' | translate}} <br> {{'TOEIC.instruction3-4' | translate}}</li>
                    </ul>
                </div>
                <div class="d-flex justify-content-center mt-4 mb-3" >
                    <button *ngIf="!noTest" type="submit" class="btn btn-main mt-2" [routerLink]="url" (click)="initiateTest()">{{'TOEIC.takeTest' | translate}}</button>
                    <button *ngIf="noTest" type="submit" class="btn btn-main mt-2 disabled">{{'TOEIC.takeTest' | translate}}</button>
                </div>
            </div>
            <div class="footer-logo">
                <div (click)="signOut()" class="sign-out"><img style="width: 22px;" class="logo-1" src="/assets/images/icon-logout.png" alt="">Sign Out </div>
                <img src="/assets/images/logox.svg" alt="footer logo">
            </div>
        </div>
    </div>
</div>
