@import "~@ng-select/ng-select/themes/default.theme.css";
/* You can add global styles to this file, and also import other style files */
$color-white: #fff;
$backgroud-blue-color: #171F48;
$white: #fff;

*:focus,
.btn:focus, 
.btn.focus {
    outline: none;
    box-shadow: none;
}

html, body {
    height: 100%;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
}

.btn-main {
    height: 72px;
    background: linear-gradient(180deg, #29F4FF -46.11%, #5257FF 151.97%);
    box-shadow: 0px 8px 18px rgba(69, 137, 255, 0.26);
    border-radius: 50px;
    width: 320px;
    color: $white;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'SFProMedium', sans-serif;
    border: none;
    &:hover {
        color: $white;
    }
}

.btn-sub {
    max-width: 220px;
}

.colorful {
    background: linear-gradient(101.03deg, #FF52E3 -17.52%, #A466EF 43.91%, #2980FF 126.32%);
    border: none;
}

.is-invalid {
    border: 3px solid #dc3545 !important; 
}

.flex-center {
    display: flex;
    justify-content: center;
}

.modal {
    & .modal-dialog {
        pointer-events: inherit;
        background-color: #fff;
        border-radius: 6px;
    }
}


.main {
    height: 100%;
    &.main-2 {
        height: auto;
        min-height: 100%;
        & .container {
            & .branding {
                margin-top: 70px;
            }
            & .footer-logo {
                margin-bottom: 70px;
            }
        }
    }
    &.inside-logo {
        &.main-2 {
            & .content {
                margin-top: 70px;
            }
        }
        & .branding {
            margin-top: 0 !important;
        }
    }
}

.bg-blue {
    background-color: $backgroud-blue-color;
}

.sticky {
    position: fixed;
    top: 50px;
    right: 50px;
}

.content {
    background-color: $color-white;
    min-height: 600px;
}

.answer-list {
    list-style: none;
    padding-left: 0;
    & li {
        display: inline-flex;
        margin-right: 50px;
    }
}

.main-center {
    & .container {
        height: 100%;
        display: flex;
        align-items: center;
        & .branding {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            margin-top: -100px;
            & img {
                width: 100px;
            }
            &.countdown {
                display: block;
                & .countdown-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & > span {
                        margin-right: 10px;
                        color: $color-white;
                        font-size: 18px;
                        font-family: 'SFProRegular', sans-serif;
                    }
                    & .timer {
                        background: linear-gradient(101.03deg, #FF52E3 -17.52%, #A466EF 43.91%, #2980FF 126.32%);
                        border-radius: 20px;
                        padding: 6px 23px;
                        color: $color-white;
                        font-size: 18px;
                        font-family: 'SFProRegular', sans-serif;
                        min-width: 110px;
                        text-align: center;
                    }
                }
            }
        }
        & .content {
            border-radius: 40px;
            padding: 30px;
            background-image: url(/assets/images/footer-bg.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: bottom;
            &.no-bg {
                background-image: none;
            }
            &.reading {
                padding: 45px 70px;
            }
            & .form-contain {
                display: flex;
                justify-content: center;
                margin-top: 40px;
                & form {
                    width: 100%;
                    max-width: 360px;
                    & input {
                        height: 50px;
                        background: #ECECF2;
                        border: 3px solid #ECECF2;
                        border-radius: 5px;
                        &:focus {
                            background-color: $color-white;
                        }
                    }
                }
            }
        }
    }
}
.title {
    font-family: 'SFProMedium', sans-serif;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
}

.sub-title {
    text-align: center;
    font-family: 'SFProDisplay', sans-serif;
    font-size: 16px;
    &.powered {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        & span {
            font-family: 'SFProMedium', sans-serif;
            margin-right: 10px;
        }
        & img {
            width: 240px;
        }
    }
}

.sub-multiple-line {
    margin: auto;
    max-width: 450px;
    & ul {
        list-style: none;
        padding-left: 0;
        & li {
            white-space: nowrap;
            margin-bottom: 15px;
        }
    }
}

.footer-desc {
    color: #4688FF;
    font-size: 12px;
}

.content-test {
    text-align: center;
    cursor: pointer;
    transition: transform 1s;
    max-width: 210px;
    &:hover {
        & img {
            transform: scale(1.1);
        }
    }
    & img {
        transition: transform 0.2s;
    }
    & .test-title {
        font-size: 18px;
        font-family: 'SFProMedium', sans-serif;
        text-transform: uppercase;
        text-align: center;
        margin-top: 10px;
    }
    & .test-time {
        text-align: center;
        font-family: 'SFProDisplay', sans-serif;
        font-size: 16px;
    }
}
.footer-logo {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.start-logo {
    display: flex;
    justify-content: center;
    padding: 50px 30px;
    padding-bottom: 30px;
}

.custom-tab {
    & ul.nav-tabs {
        display: flex;
        justify-content: center;
        border-bottom: 0;
        & li.nav-item {
            min-width: 110px;
            position: relative;
            z-index: 1;
            margin-bottom: 10px;
            &:before {
                content: "";
                position: absolute;
                height: 8px;
                width: 100%;
                top: 10px;
                left: 24px;
                background: #EEEFF4;
                // background: linear-gradient(166.74deg, #4CD964 9.54%, #27AE60 149.18%);
                z-index: -1;
            }
            & a.nav-link {
                display: inline-flex;
                position: relative;
                border: 1px solid #EEEFF4;
                border-radius: 50%;
                background-color: #fff;
                padding: 0;
                width: 28px;
                height: 28px;
                justify-content: center;
                align-items: center;
                & span {
                    font-size: 14px;
                    color: #EEEFF4;
                    font-family: 'SFProMedium', sans-serif;
                }
                &.active {
                    & span {
                        color: #979797;
                    }
                }
            }
            &:last-child {
                min-width: auto;
                &::before {
                    content: none;
                }
            }
            &.done {
                & a.nav-link {
                    border: 1px solid #43CF64;
                    position: relative;
                    &::before {
                        font-family: 'icomoon' !important;
                        content: "\e915";
                        position: absolute;
                        top: 1px;
                        left: 5px;
                        color: #43CF64;
                    }
                    & span {
                        display: none;
                    }
                }
                &::before {
                    background: linear-gradient(166.74deg, #4CD964 9.54%, #27AE60 149.18%);
                }
            }
        }
    }
    &.nav-disabled {
        & a.nav-link {
            pointer-events: none;
        }
    }
    &.nav-hide {
        & .nav-tabs {
            display: none;
        }
    }
    & .tab-content {
        margin-top: 50px;
    }
}
.desc-content {
    max-width: 800px;
    margin: auto;
    margin-bottom: 50px;
}
.test-content {
    & .question {
        // text-align: center;
        font-size: 32px;
        font-family: 'SFProMedium', sans-serif;
        max-width: 800px;
        margin: auto;
    }
    & .answer {
        max-width: 800px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 32px;
        font-family: 'SFProMedium', sans-serif;
    }
}

.reading {
    & .reading-part {
        font-size: 18px;
        line-height: 24px;
        font-family: 'SFProDisplay', sans-serif;
        white-space: pre-wrap;
    }
    & .question {
        & .question-wrapper {
            & p.question-title {
                font-family: 'SFProMedium', sans-serif;
                font-size: 18px;
            }
            & .question-choices {
                & ul {
                    list-style: none;
                    padding-left: 20px;
                    & li {
                        font-size: 16px;
                        font-family: 'SFProDisplay', sans-serif;
                        & label {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}

.listening {
    & .title {
        font-size: 32px;
    }
    & .test-divider {
        display: block;
        height: 3px;
        width: 140%;
        background-color: #171F48;
        margin-bottom: 30px;
        margin-top: 30px;
        position: relative;
        left: -20%;
    }
}

//Mask Selectbox, checkbox, radio
input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.checkbox-mask {
    position: relative;
    margin-bottom: 0;
    padding-left: 25px;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
}

input[type=radio] {
    &+label {
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        // line-height: 20px;
        // display: inline-block;
        &:before {
            content: '';
            position: absolute;
            left: 0px;
            top: 13px;
            width: 25px;
            height: 25px;
            border: 2.5px solid #171F48;
            border-radius: 100%;
            background: #fff;
        }
    }
    &:checked+label {
        color: #00BAE8;
        font-weight: 600;
        &::before {
            border-color: #00BAE8;
        }
        &:after {
            content: '';
            width: 15px;
            height: 15px;
            background: #00BAE8;
            position: absolute;
            top: 18px;
            left: 5px;
            border-radius: 100%;
            -webkit-transition: all 0.05s ease;
            transition: all 0.05s ease;
        }
    }
    &:checked+label {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.reading {
    & input[type=radio] {
        &+label {
            position: relative;
            padding-left: 35px;
            cursor: pointer;
            line-height: 20px;
            &:before {
                content: '';
                position: absolute;
                left: 0px;
                top: -3px;
                width: 25px;
                height: 25px;
                border: 2.5px solid #171F48;
                border-radius: 100%;
                background: #fff;
            }
        }
        &:checked+label {
            color: #00BAE8;
            font-weight: 600;
            &::before {
                border-color: #00BAE8;
            }
            &:after {
                content: '';
                width: 15px;
                height: 15px;
                background: #00BAE8;
                position: absolute;
                top: 2px;
                left: 5px;
                border-radius: 100%;
                -webkit-transition: all 0.05s ease;
                transition: all 0.05s ease;
            }
        }
        &:checked+label {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}

input[type=checkbox] {
    &:checked {
        &+.checkbox-mask::after {
            opacity: 1;
        }
    }
}
.speaking {
    & .content {
        & .tab-content {
            margin-top: 0;
        }
        & .question {
            min-height: 280px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    & .btn-skip {
        text-decoration: underline;
        font-size: 22px;
        cursor: pointer;
    }
}

.toeic-test {
    & .custom-tab {
        & .tab-content {
            margin-top: 10px;
        }
    }
    & .part-section {
        display: block;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        // text-transform: uppercase;
        color: #fff;
        background-color: #6cccfd;
        width: 300px;
        padding: 10px;
        border-radius: 30px;
        margin: auto;
        margin-bottom: 15px;
        font-family: "SFProMedium", sans-serif;
    }
}

.img-radius {
    border-radius: 10px;
}

.select-group {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
    flex-wrap: wrap;
}

.radio-text {
    & input[type="radio"] {
        display: none;
        & + label {
            padding: 8px 22px;
            margin-right: 15px;
            background: linear-gradient(#C57CFF, #755DFF);
            color: #fff;
            border-radius: 25px;
            &:before {
                content: none;
            }
            &.disabled {
                background: #747474;
                pointer-events: none;
            }
        }
        &:checked {
            & + label {
                background: #00BAE8;
                font-weight: 400;
                &:after {
                    content: none;
                }
            }
        }
    }
    
    
}

.small-title {
    font-family: "SFProDisplay", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.btn-recording {
    background-image: linear-gradient(to bottom, #31EC80, #2BBF6A);
    border: none;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    & img {
        width: 90px;
    }
}

.player-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    & .mat-slider-track-background {
        background-color: rgba(0,0,0,.26);
    }
    & .mat-accent .mat-slider-thumb, 
    & .mat-accent .mat-slider-thumb-label, 
    & .mat-accent .mat-slider-track-fill {
        background-color: #ff4081;
    }
}
.error {
    color: red;
}

.question-type-text {
    border: 2px solid #ced4da;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    max-width: 150px;
    padding: 0;
    height: 30px;
}
.question-text {
    &.text-type {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 20px;
        & label {
            margin-bottom: 0;
            margin-right: 15px;
        }
    }
}
.mat-card {
    &.ngx-audio-player {
        background-color: #ECECF2;
        padding: 10px 30px !important;
        & .mat-button {
            border: none;
            & .mat-icon {
                fill: #00BAE8;
                border-radius: 50%;
                background: linear-gradient(180deg, #FCFCFC 0%, #D4D6E2 100%);
                & svg {
                    height: 26px;
                    width: 26px;
                    top: 3px;
                    position: relative;
                }
            }
        }
        & .mat-slider-horizontal .mat-slider-wrapper,
        & .mat-slider-horizontal .mat-slider-track-wrapper {
            height: 10px;
            border-radius: 5px;
        }
        & .mat-slider-horizontal .mat-slider-track-fill,
        & .mat-slider-horizontal .mat-slider-track-background {
            height: 10px;
        }
        & .mat-slider-horizontal .mat-slider-track-fill {
            width: 120%;
        }
        & .mat-slider-horizontal .mat-slider-track-background {
            background-color: #ffff;
        }
        & .mat-slider-thumb {
            display: none;
            width: 2px;
            height: 15px;
            border: none;
            transform: scale(1);
            border-radius: 3px;
            bottom: -8px;
            right: 0;
        }
    }
}
.player-wrapper .mat-accent .mat-slider-thumb, 
.player-wrapper .mat-accent .mat-slider-thumb-label, 
.player-wrapper .mat-accent .mat-slider-track-fill {
    background: linear-gradient(180deg, #25E6FF 0%, #33B2FF 100%);
}

//Checkbox
$md-checkbox-checked-color: #00BAE8;
$md-checkbox-border-color: rgba(0, 0, 0, 0.54);
$md-checkbox-border-color-disabled: rgba(0, 0, 0, 0.26);
$md-checkbox-checked-color-disabled: rgba(0, 0, 0, 0.26);

$md-checkbox-margin: 1em 0;
$md-checkbox-size: .75em;
$md-checkbox-padding: .25em;
$md-checkbox-border-width: 2px;
$md-checkbox-border-radius: 0.125em;
$md-checkmark-width: 5px;
$md-checkmark-color: #fff;
$md-checkbox-label-padding: .75em;

.md-checkbox {
    position: relative;
    text-align: left;

    &.md-checkbox-inline {
        display: inline-block;
    }

    label {
            cursor: pointer;
            display: inline;
            line-height: $md-checkbox-size;
            vertical-align: top;
            clear: both;
            padding-left: 1px;

        &:not(:empty) {
            padding-left: $md-checkbox-label-padding;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
        }

        &:before {
            // box
            width: $md-checkbox-size;
            height: $md-checkbox-size;
            background: #fff;
            border: $md-checkbox-border-width solid $md-checkbox-border-color;
            border-radius: $md-checkbox-border-radius;
            cursor: pointer;
            transition: background .3s;
        }
    }

    input[type="checkbox"] {
        outline: 0;
        visibility: hidden;
        width: $md-checkbox-size;
        margin: 0;
        display: block;
        float: left;
        font-size: inherit;

        &:checked {
            +label {
                color: #00BAE8;
            }
            +label:before {
                background: $md-checkbox-checked-color;
                border: none;
            }

            +label:after {
                font-family: 'icomoon' !important;
                content: "\e915";
                position: absolute;
                top: 1px;
                left: 5px;
                font-size: 15px;
                color: #fff;
            }
        }

        &:disabled {
        +label:before {
            border-color: $md-checkbox-border-color-disabled;
        }

        &:checked {
            +label:before {
            background: $md-checkbox-checked-color-disabled;
            }
        }
        }
    }
}
// Sodoku
.sudoku td{
    width:50px;
    height:50px;
    border:1px solid black;
    padding:0px;
    text-align:center;
    margin:0px;
}

.sudoku td.hard{
    background-color:#58585a;
}

/*.sudoku td.inp{
    border-color:blue;
}*/

.sudoku td input{
    width:100%;
    height:100%;
    text-align:center;
    border:none;
}
.question-text {
    &.form-group {
        width: 400px;
        & input[type="text"] {
            font-size: 32px;
            color: #212529;
        }
    }
}
.iq-test {
    & input[type="text"] {
        font-size: 30px;
        color: #212529;
    }
}
.iq-test .custom-tab ul.nav-tabs li.nav-item a.nav-link span {
    color: #979797;
}
// Profile
.profile-content {
    max-width: 700px;
    margin: auto;
}
// Listening Audio 
plyr.disabled {
    pointer-events: none;
}
.plyr__progress {
    pointer-events: none;
}
.plyr--audio .plyr__controls {
    background: #ECECF2;
    padding: 13px 30px;
    border-radius: 30px;
}
.plyr__control {
    padding: calc(var(--plyr-control-spacing,13px) * .7);
}
.plyr__controls .plyr__controls__item:first-child {
    background: linear-gradient(180deg, #29F4FF -46.11%, #5257FF 151.97%);
    border-radius: 50%;
    margin-right: 15px;
}
.plyr__control svg {
    fill: #fff;
    height: var(--plyr-control-icon-size,14px);
    width: var(--plyr-control-icon-size,14px);
}
.plyr__volume {
    width: auto;
    max-width: inherit;
    min-width: inherit;
}
.plyr__volume {
    & .plyr__control svg {
        fill: #3d3d3d;
    }
}

//Dropdown
.dropdown-sheet {
    max-height: 400px;
    overflow: auto;
    min-width: 200px;
    & li {
        & .sheet-wrapper {
            display: flex;
            align-items: center;
            padding: 10px 15px;
            cursor: pointer;
        }
        &:hover {
            background-color: #f8f9fa;
        }
        & .status {
            position: relative;
            display: inline-flex;
            border-radius: 50%;
            width: 28px;
            height: 28px;
            justify-content: center;
            align-items: center;
            border: 1px solid red;
            background-color: red;
            &::before {
                font-family: 'icomoon' !important;
                content: "\e901";
                position: absolute;
                top: 1px;
                left: 5px;
                color: #fff;
            }
            &.active {
                border: 1px solid #43CF64;
                background-color: #43CF64;
                &::before {
                    font-family: 'icomoon' !important;
                    content: "\e915";
                    position: absolute;
                    top: 1px;
                    left: 5px;
                    color: #fff;
                }
            }
        }
        & a {
            width: auto;
            display: inline-flex;
            padding-left: 10px;
            &:hover {
                background-color: transparent;
            }
            &:active {
                color: #16181b;
            }
        }
    }
}
@media (max-height: 800px) {
    .main-center {
        & .container {
            & .branding {
                margin-top: 0;
            }
        }
    }
}
