<div class="main main-2 main-center bg-blue">
    <div class="container">
        <div class="col-md-12">
            <div class="branding countdown">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 flex-center">
                        <a>
                            <img src="{{logo}}" alt="company logo">
                        </a>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end">
                        <div class="countdown-wrapper">
                            <span>{{'APP.timeRemain' | translate}}</span>
                            <countdown class="timer" [config]="config" (event)="counterEvent($event)"></countdown>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <tabset #staticTabs class="custom-tab nav-disabled nav-hide">
                    <tab
                        [heading]="1"
                        [active]="true"
                        (selectTab)="changeTab($event)">
                        <div class="title mt-3 mb-3 text-uppercase">{{'APP.aptitudeTest' | translate}}</div>
                        <div class="desc-content">
                            {{'APTITUDE.instruction' | translate}}
                        </div>
                        <div *ngFor="let question of aptitudeQuestions; let key = index;">
                            <div class="test-content" >
                                <div class="question">
                                    {{key+1}}. {{question.question}}
                                </div>
                                <div class="answer">
                                    <ul class="answer-list">
                                        <li *ngFor="let choice of question.choices; let choiceKey = index;">
                                            <input class="checkbox-mask" id="question{{key}}-choice{{choiceKey}}" type="radio" [value]="choice" [(ngModel)]="formAnswer.aptitude[key].questionAnswer" name="question-{{key + 1}}" (change)="answerSelect()">
                                            <label for="question{{key}}-choice{{choiceKey}}">{{choice}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-main mt-2" (click)="showNextQuestion(1)">{{'APP.next' | translate}}</button>
                        </div>
                    </tab>
                    <tab
                        [heading]="2"
                        (selectTab)="changeTab($event)">
                        <div class="title mt-3 mb-3 text-uppercase">{{'APTITUDE.multipleIntel' | translate}}</div>
                        <div class="desc-content">
                            {{'APTITUDE.instruction' | translate}}
                        </div>
                        <div *ngFor="let question of miQuestions; let key = index;">
                            <div class="test-content" >
                                <div class="question">
                                    {{key+1}}. {{question.question}}
                                </div>
                                <div class="answer">
                                    <ul class="answer-list">
                                        <li *ngFor="let choice of question.choices; let choiceKey = index;">
                                            <input class="checkbox-mask" id="mi-question{{key}}-choice{{choiceKey}}" type="radio" [value]="choice" [(ngModel)]="formAnswer.mi[key].questionAnswer" name="mi-question-{{key + 1}}" (change)="answerSelect()">
                                            <label for="mi-question{{key}}-choice{{choiceKey}}">{{choice}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-main mt-2" (click)="showNextQuestion(2)">{{'APP.next' | translate}}</button>
                        </div>
                    </tab>
                    <tab
                        [heading]="3"
                        (selectTab)="changeTab($event)">
                        <div class="title mt-3 mb-3 text-uppercase">Honesty Test</div>
                        <div class="desc-content">
                            {{'APTITUDE.instruction' | translate}}
                        </div>
                        <div *ngFor="let question of honestyQuestions; let key = index;">
                            <div class="test-content" >
                                <div class="question">
                                    {{key+1}}. {{question.question}}
                                </div>
                                <div class="answer">
                                    <ul class="answer-list">
                                        <li *ngFor="let choice of question.choices; let choiceKey = index;">
                                            <input class="checkbox-mask" id="ho-question{{key}}-choice{{choiceKey}}" type="radio" [value]="choice" [(ngModel)]="formAnswer.honesty[key].questionAnswer" name="ho-question-{{key + 1}}" (change)="answerSelect()">
                                            <label for="ho-question{{key}}-choice{{choiceKey}}">{{choice}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-main mt-2" (click)="showNextQuestion('submit')" [disabled]="loading">{{'APP.submit' | translate}}</button>
                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="footer-logo">
                <img src="/assets/images/logox.svg" alt="footer logo">
            </div>
        </div>
    </div>
</div>
