<div class="main-box">
    <div class="main-content">
        <div class="main-question">
            <p>19,&nbsp;&nbsp;20,&nbsp;&nbsp;21,&nbsp;&nbsp;?,&nbsp;&nbsp;?,&nbsp;&nbsp;26,&nbsp;&nbsp;28,&nbsp;&nbsp;32,&nbsp;&nbsp;33,&nbsp;&nbsp;40</p>
            <p class="mar-top-20">Which two numbers should replace the question marks?</p>
            <p style="font-weight:bold;text-align:left;" class="answer-format">Answer example: 10,11</p>
        </div>
        <div class="main-answer">
            <div class="fill-answer text-right">
                Answer <input type="text" ng-model="questions[currentQuestion.index()].questionAnswer">
            </div>
        </div>
    </div>
</div>