<div class="main-box">
    <div class="main-content">
        <div class="main-question">
            <p><img src="{{globalConfig.rootImage}}img_q11.png"></p>
            <p>
                Complete the equation by correctly identifying the missing<br />
                part of the calculation from the list of options below.
            </p>
        </div>
        <div class="main-answer">
            <div class="col-sm-2">
                <input type="radio" id="answer-1" class="trigger-radio hidden" name="answer" 
                       ng-value="'A'"
                       ng-model="questions[currentQuestion.index()].questionAnswer"/>
                <label for="answer-1" class="radio-label" data-value="0.75"></label>
            </div>
            <div class="col-sm-2">
                <input type="radio" id="answer-2" class="trigger-radio hidden" name="answer" 
                       ng-value="'B'"
                       ng-model="questions[currentQuestion.index()].questionAnswer"/>
                <label class="radio-label" for="answer-2" data-value="1.95-0.75"></label>
            </div>
            <div class="col-sm-2">
                <input type="radio" id="answer-3" class="trigger-radio hidden" name="answer" 
                       ng-value="'C'"
                       ng-model="questions[currentQuestion.index()].questionAnswer"/>
                <label class="radio-label" for="answer-3" data-value="0.52"></label>
            </div>
            <div class="col-sm-2">
                <input type="radio" id="answer-4" class="trigger-radio hidden" name="answer"
                       ng-value="'D'"
                       ng-model="questions[currentQuestion.index()].questionAnswer" />
                <label class="radio-label" for="answer-4" data-value="0.825"></label>
            </div>
            <div class="col-sm-2">
                <input type="radio" id="answer-5" class="trigger-radio hidden" name="answer"
                       ng-value="'E'"
                       ng-model="questions[currentQuestion.index()].questionAnswer" />
                <label class="radio-label" for="answer-5" data-value="0.25"></label>
            </div>

        </div>
    </div>
</div>