<div class="main-box">
    <div class="main-content">
        <div class="main-question">
            <p>Fill in the question mark</p>
            <img style="margin:auto;max-width:300px" src="{{globalConfig.rootImage}}img_21.jpg"  />
        </div>
        <div class="main-answer">
            <div class="fill-answer text-right">
                Answer <input type="text" 
                              ng-model="questions[currentQuestion.index()].questionAnswer">
            </div>
        </div>
    </div>
</div>