<div class="main-box">
    <div class="main-content">
        <div class="main-question">
            <p>Find the value of the question mark</p>
             <img style="margin:auto;max-width:300px;display:inline-block" src="{{globalConfig.rootImage}}img_q25.jpg"  />  
        </div>
        <div class="main-answer">
            <div class="fill-answer text-right">
                Answer <input type="text" 
                              ng-model="questions[currentQuestion.index()].questionAnswer">
            </div>
        </div>
    </div>
</div> 