<div class="main-box">
    <div class="main-content">
        <div class="main-question">
            <p>From 1A to 3C are the combination of A,B,C and 1,2,3,
               however one of those are wrong combination. Find the odd one out.</p>
             <img style="margin:auto;max-width:300px" src="{{globalConfig.rootImage}}img_q24.jpg"  />  
        </div>
        <div class="main-answer">
            <div class="fill-answer text-right">
                Answer <input type="text" 
                              ng-model="questions[currentQuestion.index()].questionAnswer">
            </div>
        </div>
    </div>
</div>