<div class="main-box">
    <div class="main-content">
        <div class="main-question">
            <p>If 4 apples and 6 bananas cost £1.56 and 9 apples and 7 bananas cost £2.60, what is the cost of one apple and one banana?</p>
        </div>
        <p style="font-weight:bold;text-align:left;" class="answer-format">Answer example: 5,7</p>
        <div class="main-answer">
            <div class="fill-answer text-right">
                Answer <input type="text" ng-model="questions[currentQuestion.index()].questionAnswer">
            </div>
        </div>
    </div>
</div>