<div class="main-box">
    <div class="main-content">
        <div class="main-question">
            <div class="form-group">
                A Z B Y D W G T ? ?
            </div>
            <div class="form-group">
                Which two letters come next?
                <p style="font-weight:bold;text-align:left;" class="answer-format">Answer example: A,B</p>
            </div>
        </div>
        <div class="main-answer">
            <div class="fill-answer text-right">
                Answer <input type="text" ng-model="questions[currentQuestion.index()].questionAnswer">
            </div>
        </div>
    </div>
</div>