<div class="main-content main-box">
    <div class="main-question">
        <p>A car is driving at velocity of 40km/hr on a certain distance and then drive back with 60km/hr. Find the average velocity.</p>
    </div>
    <div class="main-answer">
        <div class="fill-answer text-right" style="position:relative;">
            Answer <input style="padding-right:45px;padding-left:2px;" class="ng-pristine ng-valid" ng-model="questions[currentQuestion.index()].questionAnswer" type="text">
            <span style="position: absolute;right: 2px;font-size: 14px;top: 50%;transform: translateY(-50%);">(km/hr)</span>
        </div>
    </div>
</div>