<div class="main-box">
    <div class="main-content">
        <div class="main-question">
            <p>In the two numerical sequences below, one number that appears in the top sequence should appear in the bottom sequence and vice versa. Which two numbers should be changed round? </p>
            <div class="form-group">
                <p>2, 2.5, 4.5, 6.75</p>
                <p>1, 3, 6.25, 15.625</p>
                <p style="font-weight:bold;text-align:left;" class="answer-format">Answer example: 1.2,6</p>
            </div>
        </div>
        <div class="main-answer">
            <div class="fill-answer text-right">
                Answer <input type="text" ng-model="questions[currentQuestion.index()].questionAnswer">
            </div>
        </div>
    </div>
</div>