<div appBlockCopyPaste class="main main-2 main-center bg-blue">
    <div class="container">
        <div class="col-md-12">
            <div class="branding">
                <a>
                    <img src="{{logo}}" alt="company logo">
                </a>
            </div>
            <div class="content">
                <div class="start-logo">
                    <img src="/assets/images/listening-start.svg" alt="">
                </div>
                <div class="player-wrapper mb-3">
                    <plyr style="display: block; width: 440px;" plyrTitle="Video 1" [plyrPlaysInline]="true" [plyrSources]="audio" plyrType="audio" [plyrOptions]="options"></plyr>
                </div>
                <div class="title mb-4">LISTENING TEST</div>
                <div class="sub-title sub-multiple-line text-left" style="max-width: 570px;">
                    <div class="text-center"><strong>Directions: </strong> In the Listening test, you will be asked to demonstrate how well you understand spoken English. The entire Listening test will last approximately 53 minutes. There are 4 parts, and directions are given for each part. Listen and select the correct answer.</div>
                    <div class="text-center font-weight-bold">The timer will start when you click the START button.</div>
                </div>
                <div class="d-flex justify-content-center mt-4 mb-3" >
                    <button type="submit" class="btn btn-main mt-2" routerLink="/toeic-test/listening-test" (click)="initiateTest()">Start</button>
                </div>
            </div>
            <div class="footer-logo">
                <img src="/assets/images/logox.svg" alt="footer logo">
            </div>
        </div>
    </div>
</div>
