<div appBlockCopyPaste class="main inside-logo main-center bg-blue">
    <div class="container">
        <div class="col-md-12">
            <div class="content">
                <div class="branding">
                    <a>
                        <img src="{{logo}}" alt="company logo">
                    </a>
                </div>
                <div class="title">{{'APP.englishTest' | translate}}</div>
                <div class="sub-title">
                    <span>{{ 'DASHBOARD.clickIcon1' | translate }} {{totalTime}} {{ 'DASHBOARD.clickIcon2' | translate }}</span>
                </div>
                <div class="home-content mt-5">
                    <div class="row">
                        <div class="col-md-3 flex-center mb-4" *ngFor="let test of englishDashboard">
                            <div *ngIf="test.status != 'Done' && test.status != 'Expired'" class="content-test" routerLink="/{{test.link}}">
                                <img src="{{test.icon}}" alt="test">
                                <div class="test-title">
                                    {{test.topic}}
                                </div>
                                <div class="test-time">
                                    {{ 'APP.time' | translate }}: {{test.totaltime}} {{ 'APP.minutes' | translate }}
                                </div>
                            </div>
                            <div *ngIf="test.status == 'Done'" class="content-test">
                                <img src="/assets/images/done.svg" alt="test">
                                <div class="test-title">
                                    {{test.topic}}
                                </div>
                                <div class="test-time">
                                    {{ 'APP.time' | translate }}: {{test.totaltime}} {{ 'APP.minutes' | translate }}
                                </div>
                            </div>
                            <div *ngIf="test.status == 'Expired'" class="content-test" popover="This test has expired" triggers="mouseenter:mouseleave">
                                <img src="/assets/images/expired.svg" alt="test">
                                <div class="test-title">
                                    {{test.topic}}
                                </div>
                                <div class="test-time">
                                    {{ 'APP.time' | translate }}: {{test.totaltime}} {{ 'APP.minutes' | translate }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-5" >
                    <button type="submit" class="btn btn-main mt-2" routerLink="/home">{{ 'DASHBOARD.backHome' | translate }}</button>
                </div>
            </div>
            <div class="footer-logo">
                <img src="/assets/images/logox.svg" alt="footer logo">
            </div>
        </div>
    </div>
</div>
