<div class="main main-center bg-blue">
    <div class="container">
        <div class="col-md-12">
            <div class="branding">
                <img src="/assets/images/qds-logo.png" alt="company logo">
            </div>
            <div class="content">
                <div class="title">ENGLISH TEST</div>
                <div class="sub-title">
                    <span>Click the icon to take your test, you have absolutely 60 minutes to do all of the tests below</span>
                </div>
                <div class="home-content mt-5">
                    <div class="row">
                        <div class="col-md-3 flex-center">
                            <div class="content-test">
                                <img src="/assets/images/group.svg" alt="test">
                                <div class="test-title">
                                    SPEAKING TEST
                                </div>
                                <div class="test-time">
                                    Time: 10 minutes
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 flex-center">
                            <div class="content-test">
                                <img src="/assets/images/technicaltest.svg" alt="test">
                                <div class="test-title">
                                    READING TEST
                                </div>
                                <div class="test-time">
                                    Time: 10 minutes
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 flex-center">
                            <div class="content-test">
                                <img src="/assets/images/aptitutetest.svg" alt="test">
                                <div class="test-title">
                                    LISTENING TEST
                                </div>
                                <div class="test-time">
                                    Time: 10 minutes
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 flex-center">
                            <div class="content-test">
                                <img src="/assets/images/englishtest.svg" alt="test">
                                <div class="test-title">
                                    VOCABULARY <br>& GRAMMAR TEST
                                </div>
                                <div class="test-time">
                                    Time: 10 minutes
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-5" >
                    <button type="submit" class="btn btn-main mt-2" routerLink="/home">Back to home</button>
                </div>
            </div>
            <div class="footer-logo">
                <img src="/assets/images/logox.svg" alt="footer logo">
            </div>
        </div>
    </div>
</div>
