<div appBlockCopyPaste class="main inside-logo main-center bg-blue">
    <div class="container">
        <div class="col-md-12">
            <div (click)="signOut()" class="sign-out"><img style="width: 22px;" class="logo-1" src="/assets/images/icon-logout.png" alt="">Sign Out </div>
            <div class="content">
                <div class="branding">
                    <div></div>
                    <a>
                        <img src="{{logo}}" alt="company logo">
                    </a>
                    <div></div>
                </div>
                <div class="title">{{ 'APP.title' | translate }}</div>
                <div class="sub-title">
                    <span>{{ 'DASHBOARD.clickIcon1' | translate }} {{totalTime}} {{ 'DASHBOARD.clickIcon2' | translate }}</span>
                </div>
                <div class="home-content mt-5">
                    <div class="row">
                        <div class="d-block w-100 text-center" *ngIf="noTest">
                            <span style="font-size: 18px; text-transform: uppercase; font-weight: 600;">{{ 'DASHBOARD.noTest' | translate }}</span>
                        </div> 
                        <div class="col-md-3 flex-center mb-5" *ngFor="let test of dashboardTest; let key = index;" >
                            <div *ngIf="test.status != 'Done' && test.status != 'Expired'" class="content-test" routerLink="/{{test.link}}">
                                <img src="{{test.icon}}" alt="test">
                                <div class="test-title">
                                    {{test.category}}
                                </div>
                                <div class="test-time">
                                    {{ 'APP.time' | translate }}: {{test.totaltime}} {{ 'APP.minutes' | translate }}
                                </div>
                            </div>
                            <div *ngIf="test.status == 'Done'" class="content-test">
                                <img src="/assets/images/done.svg" alt="test">
                                <div class="test-title">
                                    {{test.category}}
                                </div>
                                <div class="test-time">
                                    {{ 'APP.time' | translate }}: {{test.totaltime}} {{ 'APP.minutes' | translate }}
                                </div>
                            </div>
                            <div *ngIf="test.status == 'Expired'" class="content-test" popover="This test has expired" triggers="mouseenter:mouseleave">
                                <img src="/assets/images/expired.svg" alt="test">
                                <div class="test-title">
                                    {{test.category}}
                                </div>
                                <div class="test-time">
                                    {{ 'APP.time' | translate }}: {{test.totaltime}} {{ 'APP.minutes' | translate }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-logo">
                <!-- <div (click)="signOut()" class="sign-out"><img style="width: 22px;" class="logo-1" src="/assets/images/icon-logout.png" alt="">Sign Out </div> -->
                <img src="/assets/images/logox.svg" alt="footer logo">
            </div>
        </div>
    </div>
</div>
