<div class="main main-center bg-blue">
    <div class="container">
        <div class="col-md-12">
            <div class="branding">
                <img src="/assets/images/qds-logo.png" alt="company logo">
            </div>
            <div class="content">
                <div class="title">ONLINE TEST FLATFORM</div>
                <div class="sub-title powered">
                    <span>POWERED BY</span>
                    <img class="logo-1" src="/assets/images/elsaxqds.png" alt="">
                </div>
                <div class="form-contain">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input type="email" id="email" class="form-control" name="email" formControlName="email" placeholder="Email" [ngClass]="{ 'is-invalid': isSubmitted && f.email.errors }">
                            <div *ngIf="isSubmitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" class="form-control" name="password" formControlName="password" placeholder="Password" [ngClass]="{ 'is-invalid': isSubmitted && f.password.errors }">
                            <div *ngIf="isSubmitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-main mt-2">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
