<div class="main main-center bg-blue">
    <div class="container">
        <div class="col-md-12">
            <div class="branding">
                <img src="/assets/images/qds-logo.png" alt="company logo">
            </div>
            <div class="content">
                <div class="title">ONLINE TEST FLATFORM</div>
                <div class="sub-title powered">
                    <span>POWERED BY</span>
                    <img class="logo-1" src="" alt="">
                    
                    <img class="logo-2" src="" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
