<div id="full-top">
    <div class="top-content">
        <img ng-show="language == 'vn'" src="{{globalConfig.rootImage}}option.png">
        <img ng-show="language == 'en'" src="{{globalConfig.rootImage}}option_eng.png">
    </div>
</div>
<div id="full-middle">
    <div class="question-item" ng-repeat="q in questions">
        <div class="question-content">
            <div class="col-sm-9 padd-L0">{{q.question}}</div>
            <div class="col-sm-3 padd-0">
                <div class="col-sm-3 padd-0">
                    <input type="radio" id="answer-{{$index}}-1" class="trigger-radio hidden" name="answer{{$index}}" ng-value="1" ng-model="q.answer" />
                    <label class="radio-label" for="answer-{{$index}}-1" data-value="">1</label>
                </div>
                <div class="col-sm-3 padd-0">
                    <input type="radio" id="answer-{{$index}}-2" class="trigger-radio hidden" name="answer{{$index}}" ng-value="2" ng-model="q.answer" />
                    <label class="radio-label" for="answer-{{$index}}-2" data-value="">2</label>
                </div>
                <div class="col-sm-3 padd-0">
                    <input type="radio" id="answer-{{$index}}-3" class="trigger-radio hidden" name="answer{{$index}}" ng-value="3" ng-model="q.answer" />
                    <label class="radio-label" for="answer-{{$index}}-3" data-value="">3</label>
                </div>
                <div class="col-sm-3 padd-0">
                    <input type="radio" id="answer-{{$index}}-4" class="trigger-radio hidden" name="answer{{$index}}" ng-value="4" ng-model="q.answer" />
                    <label class="radio-label" for="answer-{{$index}}-4" data-value="">4</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="full-bottom">
    <a ng-show="language == 'vn'" onclick="active()" ng-click="result()" class="btn btn-complete">Tiếp Tục</a>
    <a ng-show="language == 'en'" onclick="active()" ng-click="result()" class="btn btn-complete">Next</a>
</div>
<div id="express-personal" style="width: 700px; opacity: 0;">
    <div id="graph">
        <div class="graph-grid">
            <div class="graph-grid-line" style="top:0px"><p>40</p></div>
            <div class="graph-grid-line" style="top:100px"><p>30</p></div>
            <div class="graph-grid-line" style="top:200px"><p>20</p></div>
            <div class="graph-grid-line" style="top:300px"><p>10</p></div>
            <div class="graph-grid-line" style="top:400px"><p>0</p></div>
        </div>
        <div class="graph-layer">
            <div id="Language" style="height:0px;left:20px"><p>Ngôn ngữ</p></div>
            <div id="Logic" style="height:0px;left:120px"><p>Logic Toán học</p></div>
            <div id="Music" style="height:0px;left:220px"><p>Âm nhạc</p></div>
            <div id="Sport" style="height:0px;left:320px"><p>Vận động thân thể</p></div>
            <div id="Space" style="height:0px;left:420px"><p>Không gian hình ảnh</p></div>
            <div id="Comm" style="height:0px;left:520px"><p>Quan hệ giao tiếp</p></div>
            <div id="Inspec" style="height:0px;left:620px"><p>Nội tâm</p></div>
        </div>
    </div>
</div>
<script>
    var controller = document.getElementById('full');
    var chartHeight = document.getElementById('graph').clientHeight;
    var $scope = angular.element(controller).scope();
    function active() {
        document.getElementById('Language').style.height = $scope.chart.Language(chartHeight) + "px";
        document.getElementById('Logic').style.height = $scope.chart.LogicAndMath(chartHeight) + "px";
        document.getElementById('Music').style.height = $scope.chart.Music(chartHeight) + "px";
        document.getElementById('Sport').style.height = $scope.chart.Sport(chartHeight) + "px";
        document.getElementById('Space').style.height = $scope.chart.SpaceAndImage(chartHeight) + "px";
        document.getElementById('Comm').style.height = $scope.chart.Communication(chartHeight) + "px";
        document.getElementById('Inspec').style.height = $scope.chart.Introspective(chartHeight) + "px";
        html2canvas(document.querySelector("#express-personal")).then(function(canvas) {
            var imgSrc = canvas.toDataURL("image/png");
            $.post('save_jpg.php', {data: imgSrc}, function(res){
                console.log(res);
                $('#MyImg').attr('src', document.location.origin+'/quodisystest'+res);
            });
        });
        setTimeout(function(){
            window.location.href = "#/Honesty"
        },500);
    }
    
</script>