<div appBlockCopyPaste class="main main-2 main-center bg-blue">
    <div class="container">
        <div class="col-md-12">
            <div class="branding countdown">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 flex-center">
                        <img src="/assets/images/qds-logo.png" alt="company logo">
                    </div>
                    <div class="col-md-4 d-flex justify-content-end">
                        <div class="countdown-wrapper">
                            <span>Time remaining</span>
                            <countdown class="timer" [config]="config" (event)="counterEvent($event)" [ngClass]="{'sticky' : isSticky}"></countdown>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content reading">
                <div class="reading-part" [innerHTML]="readingTest.reading | safeHtml"></div>
                <div class="title mt-5 mb-5">QUESTIONS</div>
                <form #testForm="ngForm" (ngSubmit)="onSubmit(testForm)">
                    <div class="question">
                        <div class="question-wrapper" *ngFor="let question of readingTest.questions; let key = index;">
                            <p class="question-title">{{key + 1}}. {{question.question}}</p>
                            <div class="question-choices">
                                <ul>
                                    <li *ngFor="let choice of question.choices; let choiceKey = index;">
                                        <input class="checkbox-mask" id="question{{key}}-choice{{choiceKey}}" type="radio" [value]="choice" [(ngModel)]="readingForm.answers[key]" name="question-{{key + 1}}">
                                        <label for="question{{key}}-choice{{choiceKey}}">{{choice}}</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-main mt-4 mb-3">Submit</button>
                    </div>
                </form>
            </div>
            <div class="footer-logo">
                <img src="/assets/images/logox.svg" alt="footer logo">
            </div>
        </div>
    </div>
</div>
