<div appBlockCopyPaste class="main main-2 main-center bg-blue">
    <div class="container">
        <div class="col-md-12">
            <div class="branding countdown">
                <div class="row">
                    <div class="col-md-4"><div (click)="signOut()" class="sign-out"><img style="width: 22px;" class="logo-1" src="/assets/images/icon-logout.png" alt="">Sign Out </div>
                </div>
                    <div class="col-md-4 flex-center">
                        <a>
                            <img src="{{logo}}" alt="company logo">
                        </a>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end">
                        <div class="countdown-wrapper">
                            <span>{{'APP.timeRemain' | translate}}</span>
                            <countdown class="timer" [config]="config" (event)="counterEvent($event)" [ngClass]="{'sticky' : isSticky}"></countdown>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content reading">
                <div class="reading-part" [innerHTML]="mainQuestion | safeHtml"></div>
                <div class="title mt-5 mb-5">QUESTIONS</div>
                <div class="question">
                    <div class="question-wrapper" *ngFor="let question of questions; let key = index;">
                        <p class="question-title">{{key + 1}}. {{question.question}}</p>
                        <div class="question-choices">
                            <ul *ngIf="question.type == 'radio'">
                                <li *ngFor="let choice of question.answers; let choiceKey = index;">
                                    <!-- <input class="checkbox-mask" id="question{{key}}-choice{{choiceKey}}" type="radio" [value]="choice" [(ngModel)]="readingForm.answers[key]" name="question-{{key + 1}}">
                                    <label for="question{{key}}-choice{{choiceKey}}">{{choice.answer}}</label> -->
                                    <input class="checkbox-mask" id="question{{key}}-choice{{choiceKey}}" type="radio" [value]="choice.alphabet" name="{{question.id}}" (change)="submitAnswer(question, choice.alphabet)" [(ngModel)]="question.choice">
                                    <label for="question{{key}}-choice{{choiceKey}}">{{choice.answer}}</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-main mt-4 mb-3" (click)="onSubmit()" [disabled]="loading">{{'APP.submit' | translate}}</button>
                </div>
            </div>
            <div class="footer-logo">
                <img src="/assets/images/logox.svg" alt="footer logo">
            </div>
        </div>
    </div>
</div>
