<div class="main main-center bg-blue">
    <div class="container">
        <div class="col-md-12">
            <div class="branding">
                <img src="/assets/images/qds-logo.png" alt="company logo">
            </div>
            <div class="content">
                <countdown [config]="config" (event)="counterEvent($event)"></countdown>
            </div>
            
            <div class="footer-logo">
                <img src="/assets/images/logox.svg" alt="footer logo">
            </div>
        </div>
    </div>
</div>
