<div class="main main-center bg-blue">
    <div class="container">
        <div class="col-md-12">
            <div class="branding countdown">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 flex-center">
                        <img src="/assets/images/qds-logo.png" alt="company logo">
                    </div>
                    <div class="col-md-4 d-flex justify-content-end">
                        <div class="countdown-wrapper">
                            <span>Time remain</span>
                            <countdown class="timer" [config]="config" (event)="counterEvent($event)"></countdown>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <form #testForm="ngForm" (ngSubmit)="onSubmit(testForm)">
                    <tabset #staticTabs class="custom-tab nav-disabled">
                        <tab *ngFor="let question of questions; let key = index; let last = last"
                            [heading]="key + 1"
                            [active]="question.active"
                            (selectTab)="changeTab($event)"
                            (deselect)="question.active = false"
                            [disabled]="question.disabled"
                            [customClass]="question.customClass">
                            <div class="test-content" >
                                <div class="question">
                                    {{question.question}}
                                </div>
                                <div class="answer">
                                    <div class="row">
                                        <div class="col-md-6 mb-3" *ngFor="let choice of question.choices; let choiceKey = index;" >
                                            <input class="checkbox-mask" id="question{{key}}-choice{{choiceKey}}" type="radio" [value]="choice" [(ngModel)]="formAnswer.answers[key]" name="question-{{key + 1}}" (click)="showNextQuestion(key)">
                                            <label for="question{{key}}-choice{{choiceKey}}">{{choice}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center" *ngIf="last">
                                    <button type="submit" class="btn btn-main mt-2">Finish</button>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </form>
            </div>
            <div class="footer-logo">
                <img src="/assets/images/logox.svg" alt="footer logo">
            </div>
        </div>
    </div>
</div>
