<div appBlockCopyPaste class="main main-2 main-center bg-blue">
    <div class="container">
        <div class="col-md-12">
            <div class="branding countdown">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 flex-center">
                        <a>
                            <img src="{{logo}}" alt="company logo">
                        </a>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end">
                        <div class="countdown-wrapper">
                            <span>{{'APP.timeRemain' | translate}}</span>
                            <countdown class="timer" [config]="config" (event)="counterEvent($event)"></countdown>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <tabset #staticTabs class="custom-tab nav-disabled">
                    <tab *ngFor="let question of questions; let key = index; let last = last"
                        [heading]="key + 1"
                        [active]="question.active"
                        (selectTab)="changeTab($event)"
                        (deselect)="question.active = false"
                        [disabled]="question.disabled"
                        [customClass]="question.customClass">
                        <div class="test-content" >
                            <div class="question">
                                {{question.question}}
                            </div>
                            <div class="answer">
                                <div class="row">
                                    <div *ngIf="question.type != 'text'">
                                        <div class="col-md-12 mb-3" *ngFor="let choice of question.answers; let choiceKey = index;" >
                                            <div *ngIf="question.type == 'radio'" class="radio">
                                                <input class="checkbox-mask" id="question{{key}}-choice{{choiceKey}}" type="radio" [value]="choice.alphabet" name="{{question.id}}" (click)="showNextQuestion(key)" (change)="submitAnswer(question, choice.alphabet)" [(ngModel)]="question.choice">
                                                <label for="question{{key}}-choice{{choiceKey}}">{{choice.answer}}</label>
                                            </div>
                                            <div *ngIf="question.type == 'checkbox'" class="md-checkbox">
                                                <input class="checkbox-mask" id="question{{key}}-choice{{choiceKey}}" type="checkbox" [value]="choice.alphabet" [name]="choice[choiceKey]" [(ngModel)]="choice.selected" [ngModelOptions]="{standalone: true}" (change)="questionSelect(question, $event.target.value)">
                                                <label for="question{{key}}-choice{{choiceKey}}">{{choice.answer}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="question.type == 'text'" class="question-text form-group">
                                        <input class="form-control" id="question{{key}}" type="text" [(ngModel)]="submitForm.qa[key].answer" name="question{{key}}">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center w-100" *ngIf="(question.type == 'checkbox' || question.type == 'text')  && !last">
                                <button type="button" class="btn btn-main mt-2" (click)="showNextQuestion(key)">Next</button>
                            </div>
                            <div class="d-flex justify-content-center" *ngIf="last">
                                <button type="submit" class="btn btn-main mt-2" (click)="onSubmit()" [disabled]="submitDisable || loading">{{'APP.finish' | translate}}</button>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="footer-logo">
                <div (click)="signOut()" class="sign-out"><img style="width: 22px;" class="logo-1" src="/assets/images/icon-logout.png" alt="">Sign Out </div>
                <img src="/assets/images/logox.svg" alt="footer logo">
            </div>
        </div>
    </div>
</div>
