<div class="main main-center bg-blue speaking">
    <div class="container">
        <div class="col-md-12">
            <div class="branding countdown">
                <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                    </div>
                    <div class="col-md-4 flex-center">
                        <a>
                            <img src="{{logo}}" alt="company logo">
                        </a>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end">
                        <div class="countdown-wrapper">
                            <span>{{'APP.timeRemain' | translate}}</span>
                            <countdown #cd class="timer" [config]="config" (event)="counterEvent($event)"></countdown>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <tabset #staticTabs class="custom-tab nav-disabled">
                    <tab *ngFor="let question of questions; let key = index; let last = last; let first = first;"
                        [heading]="key + 1"
                        [active]="question.active"
                        (selectTab)="changeTab($event)"
                        (deselect)="question.active = false"
                        [disabled]="question.disabled"
                        [customClass]="question.customClass">
                        <div class="test-content" >
                            <div class="question text-center pt-4 pb-4">
                                {{question.question}}
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <button type="button" class="btn p-0 ml-5" (click)="initiateRecording(key)" *ngIf="!recording && !finishRecord && !isLoading" popover="{{'INSTRUCTION.speakingInstruction' | translate}}"
                                popoverTitle="{{'INSTRUCTION.title' | translate}}"
                                placement="left"
                                [delay]="500"
                                [isOpen]="first && isOpen && questionType != 'last'">
                                    <img src="/assets/images/mic.svg" />
                                </button>
                                <button type="button" class="btn btn-recording" *ngIf="recording" (click)="stopRecording()" 
                                popover="{{'INSTRUCTION.speakingInstruction2' | translate}}"
                                popoverTitle="{{'INSTRUCTION.title' | translate}}"
                                placement="left"
                                [delay]="100"
                                [isOpen]="first && isStopOpen && questionType != 'last'">
                                    <img src="/assets/images/recording.svg" />
                                </button>
                                <a *ngIf="!recording && !last && !finishRecord && !isLoading" class="btn-skip ml-3" (click)="showNextQuestion(key, last, true)">{{'APP.skip' | translate}}</a>
                                <button *ngIf="finishRecord && !isLoading" type="button" class="btn btn-main btn-sub mt-2 mr-4" (click)="showNextQuestion(key, last, false)">{{last ? ('APP.submit' | translate) : 'APP.continue' | translate}}</button>
                                <button *ngIf="isLoading" type="button" class="btn btn-main btn-sub mt-2 mr-4" [disabled]="isLoading">
                                    <img style="width: 70px;" src="/assets/images/recording.svg" />
                                </button>
                                <button *ngIf="finishRecord && questionType != 'last'" type="button" class="btn btn-main btn-sub mt-2" (click)="recordAgain()" [disabled]="isLoading">{{'APP.recordAgain' | translate}}</button>
                                <swal
                                    #confirmSwal
                                    title="Delete?"
                                    text="This cannot be undone"
                                    icon="question"
                                    [showCancelButton]="true"
                                    [focusCancel]="true"
                                    (confirm)="onSubmit()">
                                </swal>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="footer-logo">
                <img src="/assets/images/logox.svg" alt="footer logo">
            </div>
        </div>
    </div>
</div>
