<div appBlockCopyPaste class="main main-2 main-center bg-blue">
    <div class="container">
        <div class="col-md-12">
            <div class="branding">
                <div *ngIf="!isPresidentUniver" (click)="signOut()" class="sign-out"><img style="width: 22px;" class="logo-1" src="/assets/images/icon-logout.png" alt="">Sign Out </div>
                <a>
                    <img src="{{logo}}" alt="company logo">
                </a>
                <div style="width: 90px;"></div>
            </div>
            <div class="content">
                <div class="start-logo">
                    <img src="/assets/images/voca-start.svg" alt="">
                </div>
                <div class="title mb-4">VOCABULARY TEST</div>
                <div class="sub-title sub-multiple-line text-left">
                    <ul>
                        <li><span class="font-weight-bold">1.</span> The time limit for this test can be found at the top right corner.</li>
                        <li><span class="font-weight-bold">2.</span> Read the following questions and select the best answer.</li>
                        <li><span class="font-weight-bold">3.</span> Once you have completed the test, <span class="font-weight-bold">click submit to continue.</span></li>
                    </ul>
                </div>
                <div class="d-flex justify-content-center mt-4 mb-3" >
                    <button type="submit" class="btn btn-main mt-2" routerLink="/vocabulary-test/start-test" (click)="initiateTest()">Start</button>
                </div>
                <div class="d-flex justify-content-center mt-4 mb-3" >
                    <span class="footer-desc">This work, English for Career Development is a derivative of “English for Career Development” by the University of Pennsylvania, used under CC BY 4.0 by ESLA Corp.</span>
                </div>
            </div>
            <div class="footer-logo">
                <img src="/assets/images/logox.svg" alt="footer logo">
            </div>
        </div>
    </div>
</div>
