<div appBlockCopyPaste class="main main-2 main-center bg-blue">
    <div class="container">
        <div class="col-md-12">
            <div class="branding">
                <a>
                    <img src="{{logo}}" alt="company logo">
                </a>
            </div>
            <div class="content">
                <div class="start-logo">
                    <img src="/assets/images/reading-start.svg" alt="">
                </div>
                <div class="title mb-4">READING TEST</div>
                <div class="sub-title sub-multiple-line text-left" style="max-width: 570px;">
                    <div class="text-center"><strong>Directions: </strong>In the Reading test, you will read a variety of texts and answer several different types of reading comprehension questions. The entire Reading test will last 75 minutes. There are three parts, and directions are given for each part. Select the correct answer for each question.</div>
                    <div class="text-center font-weight-bold">The timer will start when you click the START button.</div>
                </div>
                <div class="d-flex justify-content-center mt-4 mb-3" >
                    <button type="submit" class="btn btn-main mt-2" routerLink="/toeic-test/reading-test" (click)="initiateTest()">Start</button>
                </div>
            </div>
            <div class="footer-logo">
                <img src="/assets/images/logox.svg" alt="footer logo">
            </div>
        </div>
    </div>
</div>
